<%= form_with(model: destination, scope: :destination, url: destination.new_record? ? collection_destinations_path(collection) : destination_path(destination)) do |form| %>
  <% if destination.errors.any? %>
    <div class="alert alert-danger">
      <h5><%= pluralize(destination.errors.count, "error") %> prohibited this destination from being saved:</h5>
      <ul>
        <% destination.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% unless destination.persisted? %>
    <%= form.hidden_field :type %>
  <% end %>

  <div class="mb-3">
    <%= form.label :name, class: "form-label" %>
    <%= form.text_field :name, class: "form-control", required: true %>
  </div>

  <% if destination.is_local? %>
    <%= form.hidden_field :url, value: "http://example.com" %>
  <% else %>
    <div class="mb-3">
      <%= form.label :url, class: "form-label" %>
      <%= form.url_field :url, class: "form-control", required: true %>
      <div class="form-text">The URL where records will be sent.</div>
    </div>
  <% end %>

  <%= render "#{destination.class.display_name.underscore}_fields", form: form, destination: destination %>

  <div class="d-flex justify-content-between">
    <%= link_to "Cancel", :back, class: "btn btn-outline-secondary" %>
    <%= form.submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>